<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Specify the package and Python script to run -->
  <node name="rviz" pkg="rviz" type="rviz"/>
  <node name="testing" pkg="test" type="width_thread.py" output="screen"/>
    <node name="testingcpp" pkg="test" type="tst" output="screen"/>
 <!-- <node name="testing" pkg="test" type="searchObstacle.cpp" output="screen"> -->
 <!-- <node type=“rviz” name=“rviz” pkg=“rviz” args=“-d $(find test)/rviz/def.rviz” />  -->
 
</launch>
