<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Specify the package and Python script to run -->
  <node name="rviz" pkg="rviz" type="rviz"/>
  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>
  <node name="main" pkg="test" type="n10_large_values.py" output="screen"/>
    <!-- <node name="testingcpp" pkg="test" type="tst" output="screen"/> -->
<node pkg="tf" type="static_transform_publisher" name="map_odom" args="1 0.0 0.0 0.0 0.0 1  /map /odom 10000" />
<node pkg="tf" type="static_transform_publisher" name="odom_depth_img_fr" args="1 0.0 0.0 0.0 0.0 1  /odom /mod_depth_frame 10000" />
<node pkg="tf" type="static_transform_publisher" name="depth_scan" args="1 0.0 0.0 0.0 0.0 1  /mod_depth_frame /camera_depth_frame 10000" />
<!-- <node pkg="tf" type="static_transform_publisher" name="odom_camera" args="1 0.0 0.0 0.0 0.0 1  /odom /camera_depth_frame 10000" /> -->
 </launch>
